<dom-module id="login-cells-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  padding: 1.25rem;
  --cells-molecule-spinner-message-color: #000;
  @apply --login-cells; }

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --login-cells; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>