@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  padding: rem(20px);
  --cells-molecule-spinner-message-color: #000;

  @apply --login-cells;  
}

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --login-cells;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}
